.format{
    width: 200px;
    height: 30px;
    font-size: 20px;
}
.Btn{
    float:right;
    min-width: 160px;
    padding: 15px 0px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    margin-right: 10px;
    
}