
.singlePetition {
    padding: 10px;
    background: #f4f3EE;
    border-radius:0.25rem;
    margin: 2rem 0;
    width: auto;
    padding-bottom: 20px;
    box-shadow:  0 5px 15px rgba(0, 0, 0, 0.1);
    transition:  all 0.3s linear;
  }
  .singlePetition:hover {
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.2);
  }
  .PetitionName{
    color: black;
   text-align: center;
   font-size: 30px;
  }
  .imgParent{
    margin-left: 20%;
    height: 50%;
    width: 45%
  }
  .singlePetitionInfo {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
   
  }
  .interestBtn {
    background: transparent;
    border-color: transparent;
    text-transform: capitalize;
    color: hsl(205, 78%, 60%);
    font-size: 1rem;
    cursor: pointer;
    padding-left: 0.25rem;
    display: block;
    margin-left: 900px;
    margin-bottom: 30px;
    width: 220px;
    height: 50px;
    color: hsl(360, 67%, 44%);
    letter-spacing:0.1rem;
    border: 1px solid hsl(360, 67%, 44%);
    border-radius: 0.25rem;
    position:inherit;
    -ms-transform: translateY(80%);
    transform: translateY(80%);
    

  }
.foot{
  position: relative;
}