.container {
  padding: 0 9rem;
}
.title{
  font-family: 'Poiret One', cursive;
  font-size: 150px;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  position: relative;
 
}
.Home{
  height: 100vh;
  background-image: url('https://dl.airtable.com/.attachments/a0cd0702c443f31526267f38ea5314a1/2447eb7a/paris.jpg');
  background-size: cover;
  position: relative;
  color: black;
}
.OverLay{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color:rgba(0,0,0,0.3 );

}
.HomeContent{
 
  position:absolute;
  top: 50%;
  width: 65%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.Title{
  color: white;
  font-size: 45px;
  text-transform: uppercase;
  font-family: montserrat,sans-serif}


.HomeDiscription{
  margin: 20px 0px;
  color: white;
  letter-spacing: 2px;
  line-height: 1.5px;
}

.BtnStart{
  min-width: 160px;
  padding: 15px 0px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  font-size: 18px;
  margin-right: 10px;
  background-color: white;
}
